<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSSPPolSourceSiteInputTool.Properties.Debug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CSSPPolSourceSiteInputTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <CSSPPolSourceSiteInputTool.Properties.Debug>
            <setting name="BaseURL_EN" serializeAs="String">
                <value>http://131.235.1.167/csspwebtools/en-CA/PolSource/</value>
            </setting>
            <setting name="BaseURL_FR" serializeAs="String">
                <value>http://131.235.1.167/csspwebtools/fr-CA/PolSource/</value>
            </setting>
        </CSSPPolSourceSiteInputTool.Properties.Debug>
        <CSSPPolSourceSiteInputTool.Properties.Settings>
            <setting name="mode" serializeAs="String">
                <value>debug</value>
            </setting>
            <setting name="Base_Path_PSS" serializeAs="String">
                <value>C:\PollutionSourceSites\Subsectors\</value>
            </setting>
            <setting name="Base_Path_Infrastructure" serializeAs="String">
                <value>C:\PollutionSourceSites\Infrastructures\</value>
            </setting>
            <setting name="BaseURL_EN" serializeAs="String">
                <value>http://131.235.1.167/csspwebtools/en-CA/PolSource/</value>
            </setting>
            <setting name="BaseURL_FR" serializeAs="String">
                <value>http://131.235.1.167/csspwebtools/fr-CA/PolSource/</value>
            </setting>
        </CSSPPolSourceSiteInputTool.Properties.Settings>
    </applicationSettings>
</configuration>
